body {
    background-image:linear-gradient(to right, black, #58003b);
}

h1 {  
    text-align: center;  
    padding: 12px;   
    color: white;  
    background-image: linear-gradient(to right, black, #58003b42);
}  
  
.calculator-grid {
      display: grid;
      justify-content: center;
      align-content: center;
      grid-template-columns: repeat(4, 80px);
      grid-template-rows: minmax(80px, auto) repeat(5, 80px)
      ;
  }
  
.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, .75);
}
  
.calculator-grid > button:hover {
    background-color: rgba(172, 172, 172, 0.9);
}
  
.span {
    grid-column: span 4;
    height: 80px;
}

.spanclear {
    grid-column: span 2;
}
  
.output {
    border: 2px solid rgb(0, 0, 0);
    grid-column: 1 / -1;
    background-color: rgba(255, 255, 255, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
}
  
.output .previous-operand {
    color: rgba(0, 0, 0, 0.642);
    font-size: 1.5rem;
}
  
.output .current-operand {
    color: rgb(0, 0, 0);
    font-size: 2.5rem;
}


